.areas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .area {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  